In [3]:
#定義函數
def my_function():
    print("MY FUNCTION")
#定義函數：呼叫函數
my_function()

MY FUNCTION

In [6]:
def my_function():
    print("MY FUNCTION")
for i in range(3):
    print(my_function())

MY FUNCTION
None
MY FUNCTION
None
MY FUNCTION
None

In [9]:
def my_function(*kids):
    print(kids[0],kids[1])
    print("My youngest child is " + kids[2])
my_function("Emma","Terry","Cherry")

Emma Terry
My youngest child is Cherry

In [11]:
def my_function(*kids):
    print(kids[0],kids[1])
    print("My youngest child is " + kids[2])
my_function("Emma","Terry","Cherry")

The youngest child is Cherry

In [12]:
def my_function(country="TAIWAN"):
    print("I an from "+country)
my_function("JAPAN")
my_function("USA")
my_function()    #預設定義為TAIWAN

I an from JAPAN
I an from USA
I an from TAIWAN

In [13]:
import numpy as np
import pandas as pd

In [15]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])  #nan=not an number
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [16]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.617214  1.294269  0.240246  0.112070
2013-01-02 -0.262477 -1.917989  0.637575  0.189772
2013-01-03 -1.953118  0.140733  0.057998 -0.433018
2013-01-04 -0.305658  0.145744 -0.047920  1.461769
2013-01-05 -0.852383  0.665725 -0.565525 -0.502650
2013-01-06 -0.097097  0.834181  1.749844  0.383839

In [19]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
}
x=thisdict.keys()

print(x)
print(list(x))
print(list(x)[0])
print(list(x)[1])
print(list(x)[2])
print(thisdict[list(x)[2]])

dict_keys(['brand', 'model', 'year'])
['brand', 'model', 'year']
brand
model
year
1964

In [31]:
df.head() #預設5筆

                   A         B         C         D
2013-01-01  0.617214  1.294269  0.240246  0.112070
2013-01-02 -0.262477 -1.917989  0.637575  0.189772
2013-01-03 -1.953118  0.140733  0.057998 -0.433018
2013-01-04 -0.305658  0.145744 -0.047920  1.461769
2013-01-05 -0.852383  0.665725 -0.565525 -0.502650

In [30]:
df.head(3) #前3筆

                   A         B         C         D
2013-01-01  0.617214  1.294269  0.240246  0.112070
2013-01-02 -0.262477 -1.917989  0.637575  0.189772
2013-01-03 -1.953118  0.140733  0.057998 -0.433018